@charset "UTF 8";

body{
    background-color: rgb(230, 226, 166)
}

h1 {        
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

ul.menu {
    text-align: center;
  }

ul.menu li {
    border-radius: 3px 12px 12px 12px;
    display: inline-block;
    size: 100%;
    border-style: initial;
    border:black 2px solid;
    border-color: black;
    text-align:center;
    font-family: Arial;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 25px;
    background-color: #bca021;
    color: #000000; 
  }
  
  img {
      position: relative;
      display: block;
      margin:auto;
  }

  .portada {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin:20px;

  }
  
  #pie {
      background-color: rgb(121, 94, 36);
      text-align: center
  }

  #precio{
      font-size: 30px;
      background-color: rgb(224, 209, 2);
      border-radius: 5px 5px 5px 5px;
      margin-right: 87%;
      margin-left: 5%;
      padding:5px;
      border:2px red solid;

  }

   #precio.hover{
        background-color:red
  }
